@{
    ViewData["Title"] = "Over Avans";
}

<div class="h1Aligner">
    <h1>@ViewData["Title"]</h1>
    <div class="card w-95">
        <div class="card-body">
            <h4>Over Ons</h4>
            <p class="card-text">
                Avans Hogeschool is een opleidingsorganisatie voor hoger onderwijs in de Nederlandse provincie Noord-Brabant. Avans Hogeschool verzorgt hbo-bacheloropleidingen,
                associate degrees en hbo-masters. Er zijn vestigingen in Breda, Roosendaal, 's-Hertogenbosch en Tilburg.
                Avans Hogeschool komt voort uit een fusie tussen Hogeschool 's-Hertogenbosch en Hogeschool Brabant in 2004. De school heeft 35.083 studenten (december 2020).

                De oudste tak van Avans is de Kunstacademie AKV St. Joost in 's-Hertogenbosch, die bestaat sinds 1 oktober 1812.

                Op 4 december 2008 verrichtte de toenmalige prinses Máxima de officiële opening van de nieuwbouw van Avans aan de Hogeschoollaan in Breda.

                In 2011, 2012, 2014 t/m 2021 werd Avans door de Keuzegids HBO uitgeroepen tot beste grote hogeschool van Nederland. In de periode 2003-'05 was de hogeschool betrokken bij de zogenaamde hbo-fraude.
            </p>
        </div>
    </div>
</div>