@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="h1Aligner">
    <h1>@ViewData["Title"]</h1>
    <div class="card w-95">
        <div class="card-body">
            <h4>@ViewData["Title"]</h4>
            <p class="card-text">
                Avans Hogeschool vindt jouw privacy belangrijk en gaat zorgvuldig om met persoonsgegevens.

                Langs diverse kanalen ontvangt Avans jouw persoonsgegevens. Bijvoorbeeld via onze website, contactmomenten, 
                dienstverlening, applicaties of via een sollicitatie. Hoe wij daarmee omgaan lees je op privacystatement.avans.nl.
            </p>
        </div>
    </div>
</div>